<!-- Add here the chennels to register for this controller -->
<%#= register_socky(:channels => ['channel1', channel2', ...]) %>

<h3>Agent perception</h3>
<%= @perception.to_json %>
<p>- Customize the view <span style="font-weight: bold;"><%= "#{params[:controller]}/#{params[:action]}" %></span> for an html response -</p>
