

messaging:
  /queue/commands:
    Madmass::Agent::JmsExecutor:
      concurrency: 50

topics:
  /topic/perceptions:

queues:
  /queue/commands:

#jobs:
#  edges.processor:
#    job:  EdgesProcessor
#    cron: '0 */1 * * * ?'
#    description:  Process edges for all geo objects
#    singleton: true

#stomp:
#  stomplets:
#    test_stomplet:
#      class: Madmass::CommandsStomplet
#      concurrency: 50
#      route: '/madmass/domain'
#      config:
#        perceptions_destination: /topic/perceptions
#        commands_destination: /queue/commands

